div {
  
}

button {
  background-color:lightblue;
  border: 1px solid lightblue;
  box-shadow: 1px 1px 1px black;
  border-radius: 2px;
  margin: 5px 0px 7px;
}

button:hover{
  background-color:orange;
  cursor: pointer;
}

button:active{
  background-color:rgb(252, 69, 3);
}
